<section class="container mt-2">

  <h3>Ex 4 - Em andamento</h3>

  <input [(ngModel)]="name" type="text" class="form-control w-25 mt-2" placeholder="Name">
  <input [(ngModel)]="nickname" type="text" class="form-control w-25 mt-2" placeholder="Nickname">

  <select class="form-control w-25 mt-2" name="" id="">
    <option selected>Selecione um app de mensagens</option>
    <option (click)="exibeDS('discord')" value="discord">Discord</option>
    <option value="whatsapp">Whatsapp</option>
    <option value="telegram">Telegram</option>
    
    <div [ngSwitch]="nameApp">
      <img *ngSwitchCase="discord" src="{{discord}}" alt="">
      <img *ngSwitchCase="whatsapp" src="{{whatsapp}}" alt="">
      <img *ngSwitchCase="telegram" src="{{telegram}}" alt="">
    </div>
  </select>



  <button class="btn btn-success mt-2 w-25">Salvar</button>





</section>
