<section class="container">
  <h3>Rating Movies</h3>

  <ul>
    <li *ngFor="let movie of movies; let i = index;" (click)="selectMovie(movie)" class="mt-2">
      {{movie.name}} - {{movie.rating}}
      <button type="button" class="btn btn-danger" (click)="remove(i)">x</button>
    </li>
  </ul>

  <div class="" *ngIf="curMovie">
    <input placeholder="Name" [(ngModel)]="curMovie.name">

    <br>

    <input type="number" class="mt-2" placeholder="Rating" [(ngModel)]="curMovie.rating">

    <div>
      <button type="button" class="btn btn-warning mx-1 mt-2" (click)="save()">Save</button>
      <button type="button" class="btn btn-warning mx-1 mt-2" (click)="cancel()">Cancel</button>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-success mt-2 mx-1" (click)="newMovie()">New</button>
  </div>
</section>
