<section class="container">
  <h3>Rating Games</h3>

  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Plataforma</th>
        <th>QTD Jogadores</th>
      </tr>
    </thead>


  <tbody *ngFor="let game of games; let i = index;" (click)="selectGame(game)">

      <tr>
        <th>{{game.name}}</th>
        <th>{{game.desc}}</th>
        <th>{{game.plataforma}}</th>
        <th>{{game.qtdJogadores}}</th>
        <button type="button" class="btn btn-danger" (click)="remove(i)">Excluir</button>
      </tr>


  </tbody>
</table>

  <div class="" *ngIf="curGame">
    <input placeholder="Name" [(ngModel)]="curGame.name">

    <br>

    <input class="mt-2" placeholder="Descrição" [(ngModel)]="curGame.desc">

    <br>

    <input class="mt-2" placeholder="Plataforma" [(ngModel)]="curGame.plataforma">

    <br>

    <input type="number" class="mt-2" placeholder="QTD Jogadores" [(ngModel)]="curGame.qtdJogadores">

    <div>
      <button type="button" class="btn btn-warning mx-1 mt-2" (click)="save()">Save</button>
      <button type="button" class="btn btn-warning mx-1 mt-2" (click)="cancel()">Cancel</button>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-success mt-2 mx-1" (click)="newGame()">New</button>
  </div>
</section>
