<h2>Manutenção de Clientes</h2>

<ul>
  <li *ngFor="let cliente of clientes">
    <span (click)="editar(cliente)"> {{cliente.cpf}} - {{cliente.nome}} </span> <span (click)="excluir(cliente.id)" cursor="pointer">X</span>  </li>
</ul>


<button class="btn btn-primary" (click)="novo()">Novo</button>

<div class="" *ngIf="cliente">
  <div class="">
    <input type="text" placeholder="Nome" [(ngModel)]="cliente.nome">
  </div>

  <div class="">
    <input type="text" placeholder="CPF" [(ngModel)]="cliente.cpf">
  </div>

  <button class="btn btn-primary" (click)="salvar()">Salvar</button>
</div>
