li{
  list-style: none;
  padding: 5px;
  margin: 5px;
}

ul{
  display: flex;
  padding-inline-start: 0;
}

a{
  padding: 5px;
  color:white;
  text-decoration: none;
  background-color: rgb(57, 163, 255);
  border-radius: 20px;
  transition: all, .5s;
}

a:hover{
  color:rgb(57, 163, 255);
  text-decoration: none;
  background-color: white;
}


